# Build directories
build/
_build/
*.o
*.so
*.a

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Qt-specific
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qm
*_autogen/

# IDE files
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.user
*.user.*
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
.directory
.Trash-*
*~
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Compiled binaries
lindbergh-core/build/
lindbergh-gui/build/
lindbergh-gui/_build/
lindbergh-loader/build/
lindbergh-loader-gui/build/
lindbergh-loader-gui/_build/

# Dependencies
libs/
external/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Flutter/Dart specific
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json

# Logs and temporary files
*.log
*.tmp
core.*
vgcore.*

# Release files
*.AppImage
*.tar.gz
*.zip
